<footer>
    <div class="footer_wrapper">
        <div class="logo_footer_div">
            <svg id="header-logo-svg" width="30" height="30" class="header-svg">
                <use href="./images/sprite.svg#icon-book" class="header-svg-use"></use>
            </svg>
            <a href="#" class="logo">Books</a>
        </div>
        <div class="footer_navigation_div">
            <ul class="footer_navigation">
                <li class="footer_link">
                    <a class="nav-item-link" href="#">Search Books</a>
                </li>
                <li class="footer_link">
                    <a class="nav-item-link" href="#">Customers</a>
                </li>
                <li class="footer_link">
                    <a class="nav-item-link" href="#">Buy Books</a>
                </li>
                <li class="footer_link">
                    <a class="nav-item-link" href="#">Bestsellers</a>
                </li>
            </ul>
        </div>
        <div class="footer-socials">
            <ul class="footer-svg-list">
              <li class="footer-svg-list-item">
                <svg class="icon-footer" width="30" height="30">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </li>
              <li class="footer-svg-list-item">
                <svg class="icon-footer" width="30" height="30">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </li>
              <li class="footer-svg-list-item">
                <svg class="icon-footer" width="30" height="30">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </li>
              <li class="footer-svg-list-item">
                <svg class="icon-footer" width="30" height="30">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </li>
            </ul>
          </div>
    </div>
</footer>