<header class="header">
  <div class="header-container container">
    <div class="logo-div">
      <svg id="header-logo-svg" width="30" height="30" class="header-svg">
        <use href="./images/sprite.svg#icon-book" class="header-svg-use"></use>
      </svg>
      <a href="./index.html" class="logo">Books</a>
    </div>
    <nav class="header-nav">
      <ul class="nav-list">
        <!-- todo Якірне посилання -->
        <li class="nav-list-item">
          <a class="nav-item-link" href="./books_managment.html">Search Books</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="./customers.html">Customers</a>
        </li>     
        <li class="nav-list-item">
          <a class="nav-item-link" href="./cart.html">Buy Books</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="#stats">Bestsellers</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
