<section>
    <div class="hero">

        <div class="hero_content">
            <h1 class="hero_title">Більше ніж просто</br>книга</h1>
            <p class="website_description">Ласкаво просимо до нашої онлайн-бібліотеки, де ви можете знайти велику колекцію книг на будь-який смак. Відкрийте для себе нові улюблені книги, отримуйте доступ до безкоштовних електронних видань та насолоджуйтеся читанням у будь-який час і в будь-якому місці.</p>
            <div class="explore">
                <button class="my_books_hero"><span class="btn_text">Мої книги</span></button>
            </div>
        </div>
    </div>
</section>