<section class="stats" id="stats">
  <h2 class="stats-title">
    Переглядайте статистику книг <br />і найактивніших користувачів!
  </h2>
  <div class="stats-btn-div">
    <button class="stats-btn">Переглянути 5 найпопулярніших книг</button>
    <button class="stats-btn">Переглянути 5 найактивніших користувачів</button>
  </div>
  <div class="stats-books-div" id="statsBooksContainer">
    <ul class="stats-div-list">
      <li class="stats-list-item">
        <div class="stats-item-box">
          <img src="./images/daVinci-book.jpg" alt="daVinci code book" />
          <h2 class="stats-book-title">Код да Вінчі (The Da Vinci Code)</h2>
          <h3 class="stats-book-author">Ден Браун</h3>
          <p class="stats-book-genre">Роман</p>
          <div class="stats-rating-div">
            <p class="stats-book-rating">
              4.9 <span class="book-rating-span">★★★★</span>
            </p>
          </div>
        </div>
      </li>
      <li class="stats-list-item">
        <div class="stats-item-box">
          <img src="./images/don-quijote-book.jpg" alt="daVinci code book" />
          <h2 class="stats-book-title">Дон Кіхот (Don Quixote de La Mancha)</h2>
          <h3 class="stats-book-author">Мігель де Сервантес</h3>
          <p class="stats-book-genre">Роман</p>
          <div class="stats-rating-div">
            <p class="stats-book-rating">
              3.9 <span class="book-rating-span">★★★</span>
            </p>
          </div>
        </div>
      </li>
      <li class="stats-list-item">
        <div class="stats-item-box">
          <img
            src="./images/lord-of-the-rings-book.jpg"
            alt="daVinci code book"
          />
          <h2 class="stats-book-title">
            Володар перснів (The Lord of the Rings»)
          </h2>
          <h3 class="stats-book-author">Дж. Р. Р. Толкін</h3>
          <p class="stats-book-genre">Фентезі</p>
          <div class="stats-rating-div">
            <p class="stats-book-rating">
              4.5 <span class="book-rating-span">★★★★</span>
            </p>
          </div>
        </div>
      </li>
      <li class="stats-list-item">
        <div class="stats-item-box">
          <img
            src="./images/chronicles-of-narnia-book.jpg"
            alt="daVinci code book"
          />
          <h2 class="stats-book-title">
            Лев, Біла відьма та шафа (The Lion, the Witch and the Wardrobe)
          </h2>
          <h3 class="stats-book-author">Клайв Стейплз Льюїс</h3>
          <p class="stats-book-genre">Роман</p>
          <div class="stats-rating-div">
            <p class="stats-book-rating">
              4.6 <span class="book-rating-span">★★★★</span>
            </p>
          </div>
        </div>
      </li>
      <li class="stats-list-item">
        <div class="stats-item-box">
          <img src="./images/daVinci-book.jpg" alt="daVinci code book" />
          <h2 class="stats-book-title">Код да Вінчі</h2>
          <h3 class="stats-book-author">Ден Браун</h3>
          <p class="stats-book-genre">Роман</p>
          <div class="stats-rating-div">
            <p class="stats-book-rating">
              4.9 <span class="book-rating-span">★★★★</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
