
  .cart {
    background-color: #fff5db;
    padding: 0 35px 0 35px;
    padding-bottom: 50px;
  }
  .cart-title {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
  }
  .avialable-books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .avialable-list-item {
    background-color: #fde9cb;
    border: 1px solid #b88b4a;
    border-radius: 20px;
    width: 200px;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .cart-book-title {
    font-size: 20px;
  }
  .manipulations-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }


.taken-books-list {
  padding-top: 20px;
}

  .taken-books-list li {
    background-color: #fde9cb;
    margin-bottom: 10px;
    max-width: 600px;
    padding: 10px;
    border-radius: 20px;
  }


  .give-book-title {
    padding-bottom: 10px;
  }
